.header-style{
    color: white;
    /* float: right; */
}

.header-button{
    margin-top: -58px;
    float: right;
    
}

.bottom{
    margin-bottom: 16px; 
}

.button-margin{
    margin-right: 20px;
}